.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
    background-color: transparent !important; /* Fondo transparente */
    box-shadow: none !important;             /* Quita el brillo al hacer clic */
}


.nav-link i {
    color: #6c757d; 
    font-size: 1.3rem; /* Ajusta un poco el tamaño si lo ves pequeño */
}

/* 3. Color NEGRO para la cuadrícula cuando esté activa */
#pills-grid-tab.active i {
    color: black !important;
}

/* 4. Color AZUL para la lista cuando esté activa */
#pills-list-tab.active i {
    color: #0d6efd !important;
}

html {
            scroll-behavior: smooth;
        }
